<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AppIcon" value="icon.ico" />
        <add key="AppName" value="Liyanjie.AspNetCore.Hosting.WindowsDesktop" />
        <add key="Startup" value="Host.dll,Liyanjie.AspNetCore.Hosting.WindowsDesktop.StaticFilesStartup" />
        <add key="Urls" value="http://localhost:18898" />
    </appSettings>
</configuration>